<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div id="header">SPORTS STORE</div>
    <div id="categories">
        We will put something here later
    </div>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>
